doctype html
html(ng-app="cutlist")
  head
    title Razkroi.com
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/node_modules/handsontable/dist/handsontable.full.css")
    link(rel="stylesheet", href="/css/style.css", media="screen")
  body(ng-controller="CutListCtrl", ng-cloak, style="visibility: hidden;")
    // Master Header
    .container.master-row
      .row.master-cont
        .col-sm-5.col-md-5.col-sm-offset-1.col-md-offset-1.logo-area
          p
            img(src="img/main-logo.png")
          h2 office@razkroi.com
        .col-sm-4.col-md-4.col-sm-offset-1.col-md-offset-1.header-right-info
          form
            .col-sm-12.col-md-12
              .col-sm-6.col-md-6
                label.inside-info
                  p.xtitle вход за регистрирани
              .col-sm-6.col-md-6.username-input
                input#exampleInputEmail1.form-control(ng-show="!loggedIn", ng-model="username", type="text", placeholder="потребител", tabindex="0", name="username", ng-keypress="maybeLogin($event, username, password)")
                #exampleInputEmail1.form-control(ng-show="loggedIn", tabindex="0", readonly, disabled)
                  {{username}}
            .col-sm-12.col-md-12
              .col-sm-6.col-md-6
                label.inside-info
                  button.xletters.rz-button-small(tabindex="-1") забравена парола
              .col-sm-6.col-md-6
                input#exampleInputEmail1.form-control(ng-show="!loggedIn", ng-model="password", type="password", placeholder="парола", tabindex="0", name="password", ng-keypress="maybeLogin($event, username, password)")
                #exampleInputEmail1.form-control(ng-show="loggedIn", tabindex="0", readonly, disabled)
                  ********
            .col-sm-12.col-md-12
              .col-sm-6.col-md-6
                label.inside-info
                  button.xletters.rz-button-small нова регистрация
              .col-sm-6.col-md-6
                button.btn2.rz-button-small(ng-show="!loggedIn", type="button", ng-click="login(username, password)") вход
                button.btn2.rz-button-small(ng-show="loggedIn", type="button", ng-click="logout()") изход
    // /Master Header
    // Sub Header
    .row.sub-header-cont
      #exampleInputEmail1.col-md-1.col-sm-1.col-md-offset-1.col-sm-offset-1.sub1(type="text", placeholder="въведи размер плоча")
        input.form-control(placeholder="дължина", type="number", ng-model="selectedStockToAdd.width")
      #exampleInputEmail1.col-md-1.col-sm-1.sub1(type="text", placeholder="въведи размер плоча")
        input.form-control(placeholder="ширина", type="number", ng-model="selectedStockToAdd.height")
      .col-md-1.col-sm-1.sub2.small-font
        button(ng-show="selectedStock", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true", ng-init="selectedStock = stocks[0]")
          | {{selectedStock.width}}x{{selectedStock.height}}
          i.fa.fa-angle-down(ng-show="selectedStock", aria-hidden="true")
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
          li(ng-repeat="stock in stocks track by $index")
            a(href, ng-click="changeSelectedStock(stock)") - {{stock.width}}x{{stock.height}}
      #exampleInputEmail1.col-md-1.col-sm-1.sub3(type="text", placeholder="брой")
        input.form-control(placeholder="брой", type="number", ng-model="addedStockNumber")
      .col-md-2.col-sm-2.sub4
        span.x-1 1780
        span.x-2 2800
      .col-md-2.col-sm-2.sub5
        .btn(ng-click="addSelectedStock()")
          p.rz-button-primary
            | добави към плочи
      .col-md-1.col-sm-1.sub6.small-font
        button(data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
          | настройки
          i.fa.fa-angle-down(aria-hidden="true")
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
          li
            a(href="#" ng-click="openCuttingPlanDialog()") - разкрой
          li
            a(href="#") - дебелина на ножа
          li
            a(href="#") - обрезки
    // /Sub Header
    // Main Body Area
    .master-body-row(ng-hide="showResult")
      .container.master-body-cont
        .row
          // Left Column
          .col-sm-2.col-md-2.left-col
            .first-title
              | {{leftColLabel}}
            uib-tabset
              uib-tab(select="labelTo('плочи')")
                uib-tab-heading
                  span.tab-heading плочи
                .left-col-container.result-outlook-container
                  .form-group(ng-repeat="stock in stocks")
                    .fourth-empty
                      | {{stock.width}}x{{stock.height}}
                    button.fourth-title.rz-button-small(ng-click="subtractStock($index)")
                      | {{stock.number}} бр. намали
              uib-tab(ng-show="loggedIn", select="labelTo('проекти')")
                uib-tab-heading
                  span.tab-heading проекти
                .left-col-container.result-outlook-container
                  div.row(ng-repeat="p in projects track by p.obj._id | orderBy:'obj.creation_date'")
                      .col-sm-12.project
                        div(href ng-class="{'selected-project': project === p}" ng-click="loadProject(p)") {{p.obj.name}}
                .bottom-col-buttons
                  button.btn.right-col-title.zoom(ng-click="newProject()")
                    | създай
                  button.btn.right-col-title.zoom(ng-click="saveProject()")
                    | запази
                  button.btn.right-col-title.zoom(ng-click="deleteProject()")
                    | изтрий

          // /Left Column
          // Middle Column
          .col-sm-8.col-md-8.middle-col
            hot-table(settings="{colHeaders: colHeaders, afterInit: afterHOTInit, stretchH: 'all', onBeforeKeyDown: onBeforeKeyDown, contextMenu: contextMenu}",
                row-headers="false",
                min-spare-rows="minSpareRows",
                datarows="details",
                height="400",
                columns="columnsDefinitions")
            // Offset Sum
            .Sum-row
              .row
                .col-sm-6.go-button-container
                  span.Check.btn.btn-small.rz-button-primary(ng-click="submit()") създай разкрой
                .col-sm-6.go-button-container
                  button.col-sm-2.col-md-2.Summ.rz-button-small(ng-click="addRow()") добави редове...
            // /Offset Sum
            // Checkout Orange
            // Checkout Orange
          // /Middle Column
          // Right Column
          .col-md-2.col-sm-2.right-col
            .first-title
              | разкрой
            .right-col-container.result-outlook-container
              rz-result-stocks(cutlist="result")
            .bottom-col-buttons
              button.btn.right-col-title.zoom(ng-click="showResult = true")
                | покажи
              button.btn.right-col-title.print(ng-click="createPdf()")
                | печат
          // Right Column
    // Main Body Area
    // Footer area
    .container.footer-row
      .row.footer-cont
        .col-sm-3.col-md-3.col-sm-offset-1.col-md-offset-1.foot-col
          | начало / за нас / контакти
          span razkroi.com
    // /Footer area

    .master-body-row(ng-show="showResult")
      .container.master-body-cont.cutting-plan-result
        .row
          button.btn.right-col-title.resbtn.backbtn.col-sm-offset-2.col-sm-2(ng-click="createPdf()")
            | печат
          button.btn.right-col-title.resbtn.printbtn.col-sm-offset-2.col-sm-2(ng-click="showResult = false")
            | назад
          rz-result-container(register-pdf-listener="registerPdfListener")
    x-loading-overlay(processing="processing")

    script(type="application/javascript", src="/node_modules/jquery/dist/jquery.min.js")
    script(type="application/javascript", src="/node_modules/angular/angular.js")
    script(type="application/javascript", src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(type="application/javascript", src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")
    script(type="application/javascript", src="/node_modules/angular-fontawesome/dist/angular-fontawesome.min.js")
    script(type="application/javascript", src="/node_modules/jspdf/dist/jspdf.min.js")
    script(type="application/javascript", src="/node_modules/async/dist/async.min.js")
    script(type="application/javascript", src="/node_modules/json8-patch/JSON8Patch.js")
    script(type="application/javascript", src="/node_modules/lodash/lodash.min.js")
    script(type="application/javascript", src="/node_modules/handsontable/dist/handsontable.full.min.js")
    script(type="application/javascript", src="/node_modules/ng-handsontable/dist/ngHandsontable.min.js")
    script(type="application/javascript", src="/dist/public/cutlist.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89958206-1', 'auto');
      ga('send', 'pageview');
    script.
      var USER_ID = '#{userId}';
      var USERNAME = '#{username}';
