doctype html
html(ng-app="cutlist")
  head
    title #{__("Cutlist")}
  body(ng-cloak, ng-controller="CutListCtrl")
    div
      a(ng-click="changeLang('en')", href="#")
        span Еnglish
      span &nbsp;
      a(ng-click="changeLang('bg')", href="#")
        span Български
    br
    span #{__("Configuration")} &nbsp;
    select(ng-model="testsIdx")
      option(value="0") #{__("Test")} 1
      option(value="1") #{__("Test")} 2
      option(value="2") #{__("Test")} 3
      option(value="3") #{__("Test")} 4
      option(value="4") #{__("Test")} 5
    br
    span #{__("Slate")}
      br
      div(ng-repeat="slate in slates")
        input(type="text", ng-model="slate.w")
        input(type="text", ng-model="slate.h")
      //button(ng-click="addSlate()") #{__("Add slate")}
      br
    span #{__("Parts")}
      div(ng-repeat="part in parts")
        input(type="text", ng-model="part.ref")
        input(type="text", ng-model="part.q")
        input(type="text", ng-model="part.w")
        input(type="text", ng-model="part.h")
        input(type="checkbox", ng-model="part.canRotate")
      button(ng-click="addPart()") #{__("Add part")}
    br
    //select(ng-model="cutType")
    //  option(value="v") #{__("Vertical cut")}
    //  option(value="h") #{__("Horizontal cut")}
    //  option(value="o") #{__("Optimal cut")}
    button(ng-click="submit()") #{__("Calculate")}
    br
    x-cutlist-canvas#cutlist-canvas(ng-repeat="slateSolution in cutlist.arr", idx="{{$index}}")

    script(type="application/javascript", src="dist/public/cutlist.js")
