doctype html
html(ng-app="cutlist")
  head
    title #{__("Cutlist")}
  body(ng-cloak, ng-controller="CutListCtrl")
    div
      a(ng-click="changeLang('en')", href="#")
        span Еnglish
      span &nbsp;
      a(ng-click="changeLang('bg')", href="#")
        span Български
    br
    span #{__("Configuration")} &nbsp;
    select(ng-model="testsIdx" ng-options="test.name as test.name for test in tests")
    br
    span #{__("Slate")}
      br
      div(ng-repeat="slate in slates")
        input(type="number", ng-model="slate.w")
        input(type="number", ng-model="slate.h")
      button(ng-click="addSlate()") #{__("Add slate")}
      br
    span #{__("Parts")}
      div(ng-repeat="part in parts")
        input(type="text", ng-model="part.ref")
        input(type="text", ng-model="part.q")
        input(type="text", ng-model="part.w")
        input(type="text", ng-model="part.h")
        input(type="checkbox", ng-model="part.canRotate")
      button(ng-click="addPart()") #{__("Add part")}
    br
    select(ng-model="cutType")
      option(value="h") #{__("Horizontal cut")}
      option(value="v") #{__("Vertical cut")}
      //option(value="o") #{__("Optimal cut")}
    button(ng-click="submit()") #{__("Calculate")}
    br
    x-cutlist-canvas#cutlist-canvas(ng-repeat="slateSolution in cutlist.arr", idx="{{$index}}")

    script(type="application/javascript", src="dist/public/cutlist.js")
