doctype html
html(ng-app="cutlist", style="height: 100%;")
  head
    title #{__("Cutlist")}
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
  body(ng-cloak, ng-controller="CutListCtrl", style="margin: 0; height: 100%;")
    div
      a(ng-click="changeLang('en')", href="#")
        span Еnglish
      span &nbsp;
      a(ng-click="changeLang('bg')", href="#")
        span Български
    br
    span #{__("Configuration")} &nbsp;
    select(ng-model="testsIdx" ng-options="test.name as test.name for test in tests")
    br
    span #{__("Slate")}
      br
      div(ng-repeat="slate in slates")
        input(type="number", ng-model="slate.w")
        input(type="number", ng-model="slate.h")
      button(ng-click="addSlate()") #{__("Add slate")}
      br
    span #{__("Parts")}
      div(ng-repeat="part in parts")
        input(type="text", ng-model="part.ref")
        input(type="text", ng-model="part.q")
        input(type="text", ng-model="part.w")
        input(type="text", ng-model="part.h")
        input(type="checkbox", ng-model="part.canRotate")
      button(ng-click="addPart()") #{__("Add part")}
    br
    select(ng-model="cutType")
      option(value="h") #{__("Horizontal cut")}
      option(value="v") #{__("Vertical cut")}
      //option(value="o") #{__("Optimal cut")}
    button(ng-click="submit()") #{__("Calculate")}
    br
    x-cutlist-canvas#cutlist-canvas(ng-repeat="slateSolution in cutlist.arr", idx="{{$index}}")
    x-loading-overlay(processing="processing")

    script(type="application/javascript", src="/node_modules/angular/angular.min.js")
    script(type="application/javascript", src="/node_modules/angular-fontawesome/dist/angular-fontawesome.min.js")
    script(type="application/javascript", src="/dist/public/cutlist.js")
